<h1>Create new product</h1>
<%= form_with model: @product do |form| %>
  <p>Name: <%= form.text_field :name %></p>
  <p>Description: <%= form.text_area :description %></p>
  <%= submit_tag "Create" %>
<% end %>
<%= link_to 'Back to product list', admin_products_path %>
