<h1>Listing Products</h1>
<br>
<%= button_to "Login", '/login',method: :get%>
<%= button_to "Sing up", '/users/new', method: :get%>
<br>
  <%@products.each do |n| %>
    <h2> <%= link_to n.name, admin_product_path(n.id) %> </h2>
    <% if current_user&.admin? %>
      <p>
        <b><%= button_to "Delete", admin_product_path(n.id), data: { confirm: "Do you really want to delete this product?"},  method: :delete %></b>
      </p>
    <%end%>
    <hr>
  <%end%>
<% if current_user&.admin? %>
  <%= button_to "Create new product", new_admin_product_path %>
<%end%>