<h1>Listing Products</h1>
<br>

<% if logged_in? %>
  <h1>You are logged in, <%= current_user.name%></h1>
<%end%>

<%= button_to "Login", '/login',method: :get%>
<%= button_to "Sing up", '/users/new', method: :get%>
<br>
  <% @products.each do |n| %>
    <h2> <%= link_to n.name, product_path(n.id) %> </h2>
    <p> <%= n.stripe_id%></p>
    <p> <%= n.id%> </p>
    <p>
      <b><%= link_to "Delete", product_path(n.id), data: { confirm: "Do you really want to delete this product?"},  method: :delete %></b>
      <b><%= link_to "Add plan", new_plan_path(stripe_product_id: n.stripe_id)%>
    </p>
    <hr>
<% end %>
<p><%= link_to "Create new product", new_product_path %></p>