<h1> <%= @product.name %> </h1>
<p> <%= @product.description%> </p>

<%= form_with model: [@product, @product.plans.new] do |p|%>
  <%= p.submit("Add plan")%>
<%end%>

<%= button_to 'Back to product list', products_path %>
